<div *ngIf="authService.isLoggedIn(); else loginMessage" class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="header-title">Email Jobs</h1>
  </header>

  <!-- Button Container with updated Manage Users button -->
  <div class="button-container">
    <button class="create-template-button" (click)="router.navigate(['/create-email-template'])">Create Email Template</button>
    <button class="create-job-button" (click)="createEmailJob()">Create New Job</button>
    <button class="manage-users-button" (click)="goToManageUsers()">Manage Users</button>
  </div>

  <section *ngIf="emailJobs.length > 0; else noJobs" class="email-jobs-list">
    <ol class="email-jobs-list-ol">
      <li *ngFor="let job of emailJobs" class="email-job-card">
        <div class="card-content">
          <h5 class="email-job-uuid">Email Job with UUID: <span class="uuid-text">{{ job.uuid }}</span></h5>
          <p class="start-date"><strong>Start Date:</strong> {{ job.startDate | date }}</p>
          <p class="end-date"><strong>End Date:</strong> {{ job.endDate ? (job.endDate | date) : 'N/A' }}</p>
          <p class="status"><strong>Status:</strong> {{ job.enabled ? 'Enabled' : 'Disabled' }}</p>
          <button class="view-details-button" (click)="viewEmailJob(job.uuid)">View Details</button>
        </div>
      </li>
    </ol>
  </section>

  <ng-template #noJobs>
    <p class="no-jobs-message">No email jobs available.</p>
  </ng-template>
</div>

<ng-template #loginMessage>
  <div class="login-message">
    <p>Please log in to view the email jobs.</p>
  </div>
</ng-template>
