
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9dddd;
}


.login-card {
  width: 100%;
  max-width: 600px;
  padding: 70px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-form-field {
  width: 150%;
  max-width: 400px;
  margin-bottom: 28px;
}

.mat-form-field input.mat-input-element {
  font-size: 1.6rem;
  padding: 20px;
  border-radius: 8px;
}

.mat-form-field mat-label {
  font-size: 1.5rem;
  color: #333;
}


.mat-form-field mat-error {
  font-size: 1.2rem;
  color: #f44336;
}


.error-message {
  color: #f44336;
  margin: 16px 0;
  font-size: 1.2rem;
  text-align: center;
}


.login-button {
  width: 100%;
  max-width: 400px;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: #3f51b5;
  color: #fff;
}

.login-button:hover {
  background-color: #c7c9ec;
}
body > div > div > mat-card > mat-card-header > div > mat-card-title
{
  padding: 50px;
}
