.create-email-job-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}


.create-job-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  outline: none;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}


button[type="submit"],
.back-button {
  font-size: 18px;
  padding: 18px 38px;
  border-radius: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #9d9ce9, #7c7bd4);
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
}

button[type="submit"]:hover,
.back-button:hover {
  background: linear-gradient(135deg, #d3d2fd, #c7c6ee);
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:active,
.back-button:active {
  background-color: #8e8eec;
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button[type="submit"]::before,
.back-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  transition: opacity 0.3s;
  opacity: 0;
  transform: translate(-50%, -50%);
}

button[type="submit"]:hover::before,
.back-button:hover::before {
  opacity: 1;
}

.back-button {
  margin-top: 25px;
  font-size: 18px;
}

.button-container {
  text-align: center;
  gap: 10px;
}


@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button[type="submit"],
  .back-button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 14px 20px;
  }

  .title {
    font-size: 22px;
  }
}
