<!--<div *ngIf="occurrence; else noData" class="occurrence-details">-->
<!--  &lt;!&ndash; Occurrence Details &ndash;&gt;-->
<!--  <h2>Occurrence Details</h2>-->

<!--  <p><strong>UUID:</strong> {{ occurrence.uuid }}</p>-->
<!--  <p><strong>Status:</strong>-->
<!--    <span [ngClass]="{-->
<!--      'status': true,-->
<!--      'failed': occurrence.status === 'FAILED'-->
<!--    }">-->
<!--      {{ occurrence.status }}-->
<!--    </span>-->
<!--  </p>-->
<!--  <p><strong>Error Description:</strong> {{ occurrence.errorDescription || 'None' }}</p>-->

<!--  &lt;!&ndash; Back to Dashboard Button &ndash;&gt;-->
<!--  <div class="button-container">-->
<!--    <button (click)="goBack()">Back to Dashboard</button>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #noData>-->
<!--  <p class="no-data">No occurrence data available.</p>-->
<!--</ng-template>-->
