<div *ngIf="emailJob; else loading" class="email-job-details">
  <h1 class="title">Email Job Details</h1>

  <div class="details-card">
    <p><strong>UUID:</strong> {{ emailJob.uuid }}</p>
    <p><strong>Start Date:</strong> {{ emailJob.startDate | date: 'short' }}</p>
    <p><strong>End Date:</strong> {{ emailJob.endDate ? (emailJob.endDate | date: 'short') : 'N/A' }}</p>
    <p><strong>Status:</strong> {{ emailJob.enabled ? 'Enabled' : 'Disabled' }}</p>
    <p><strong>Email Template UUID:</strong> {{ emailJob.emailTemplate.uuid }}</p>
    <p><strong>Sender UUID:</strong> {{ emailJob.sender.uuid }}</p>
    <p><strong>Receivers:</strong> {{ emailJob.receivers }}</p>
    <p><strong>Frequency:</strong> {{ getFrequencyDisplay(emailJob.frequency) }}</p>

    <!-- View Button -->
    <div class="view-button-container">
      <button class="view-button" (click)="toggleOccurrencesDetails()">
        {{ showOccurrences ? 'Cancel Occurrence' : 'View Occurrences Details' }}
      </button>
    </div>

    <div *ngIf="showOccurrences">
      <div *ngIf="occurrences && occurrences.length > 0; else noOccurrencesMessage">
        <h2 class="subheading">Occurrences</h2>
        <ul>
          <li *ngFor="let occurrence of occurrences">
            <p><strong>Date:</strong> {{ occurrence.createdOn | date: 'short' }}</p>
            <p><strong>Status:</strong>
              <span [ngClass]="{
                'status': true,
                'success': occurrence.status === StatusEnum.SUCCESS,
                'failed': occurrence.status !== StatusEnum.SUCCESS
              }">
                {{ occurrence.status }}
              </span>
            </p>
            <p *ngIf="occurrence.status !== StatusEnum.SUCCESS && occurrence.errorDescription">
              <strong>Error Description:</strong> {{ occurrence.errorDescription }}
            </p>
          </li>
        </ul>
      </div>
      <ng-template #noOccurrencesMessage>
        <p>No occurrences available.</p>
      </ng-template>
    </div>
  </div>

  <!-- Button Section for Delete and Back -->
  <div class="button-container">
    <button class="back-button" (click)="backToDashboard()">Back to Dashboard</button>
    <button class="delete-button" (click)="confirmDelete()">Delete Email Job</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <p>Loading email job details...</p>
  </div>
</ng-template>
